<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key %>);">
  <div class="container">
    <div class="banner-show-link">
      <%= link_to root_path do %>
          <i class="far fa-arrow-alt-circle-left"></i>
        <% end %>
    </div>
    <div class="banner-show-content">
      <h1><%= @list.name %></h1>
    </div>
  </div>
</div>

<div class="container">
  <% if @list.bookmarks.length > 0 %>
    <div class="section-grid-movies">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card-trip">
          <%= image_tag bookmark.movie.second_poster_url %>
          <div class="card-trip-infos">
            <div>
              <div class="card-trip-title">
                <h2><%= bookmark.movie.title %> - </h2>
                <p> <%= bookmark.movie.rating %></p>
                <i class="fas fa-star"></i>
              </div>
              <p><%= bookmark.movie.overview %></p>
            </div>
            <h2 class="card-trip-pricing"></h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>

          <div class="delete-bookmark">
            <% if policy(bookmark).destroy? %>
              <%= link_to bookmark_path(bookmark),
                    method: :delete,
                    data: { confirm: "Are you sure?" } do %>
                      <i class="far fa-trash-alt"></i>
                    <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <hr class="solid">
  <% else %>
    <% if current_user == @list.user %>
      <div class="section-top-button">
        <% if policy(@list).destroy? %>
        <%= link_to "Delete list", list_path(@list),
              method: :delete, class: "btn btn-ghost",
              data: { confirm: "Are you sure?" }  %>
        <% end %>
      </div>
      <div class="section-grid-movies-if-no-movie">
        <p>There is no movie yet in <strong><%= @list.name %></strong> list.</p>
        <p>See below to add a movie now!</p>
      </div>
      <div class="section-bottom-button">
        <button type="button" class="btn btn-ghost">
          <i class="fas fa-arrow-down"></i>
        </button>
      </div>
    <% else %>
      <div class="section-grid-movies-if-no-movie">
        <p>There is no movie yet in <strong><%= @list.name %></strong> list.</p>
      </div>
      <hr class="solid">
    <% end %>
  </div>
  <% end %>


</div>

  <% if current_user == @list.user %>
    <div class="movies-section" data-controller="search-movies">
      <div class="container">
        <h3>Add a new movie to <%= @list.name %> 🍿</h3>
        <div class="search-movies">
          <%= form_with url: list_path(@list), method: :get, html: { class: 'mb-4', data: { search_movies_target: 'form' } } do |f| %>
                  <%= f.text_field :query,
                                    class: "form-control",
                                    placeholder: 'Type a movie title',
                                    value: params[:query],
                                    data: {
                                      search_movies_target: 'input',
                                      action: 'keyup->search-movies#update'
                                      }
                                    %>
          <% end %>
        </div>

        <%= render 'lists/movie-list', movies: @movies %>
      </div>
    </div>
  <% else %>
    <div class="container">
      <div class="review-section">
        <div class="list-reviews">
          <h3>Reviews on <%= @list.name %></h3>
          <% if @list.reviews != [] %>
            <% @list.reviews.each do |review| %>
              <%= render "lists/review", review: review %>
            <% end %>
        <% else %>
            <p><%= "No review from the PopCorn community yet !" %></p>
        <% end %>
        </div>
        <div class="formreview">
          <%= render "lists/form-review" %>
        </div>
      </div>
    </div>

  <% end %>
