<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1594909122845-11baa439b7bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">

  <div class="section-grid-movies">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-trip">
      <%= image_tag bookmark.movie.poster_url %>
      <div class="card-trip-infos">
        <div>
          <h2><%= bookmark.movie.title %></h2>
          <p><%= bookmark.movie.overview %></p>
        </div>
        <h2 class="card-trip-pricing"></h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    <div class="delete-bookmark">
      <%= link_to "Delete",
            bookmark_path(bookmark),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </div>
    </div>
  <% end %>
  </div>

  <div class="section-bottom-button">
    <button type="button" class="btn btn-ghost" data-toggle="modal" data-target="#exampleModal">
      Add a new movie
    </button>
  </div>


  <%# -----Modal------ %>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a new list</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= simple_form_for([@list, @bookmark]) do |f| %>
          <%= f.association :movie %>
          <%= f.input :comment %>
          <div class="modal-footer">
          <%= f.submit "Add movie", class:"btn btn-dark rounded" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>

</div>
